html,body{
	height:100%;
	width: 100%;
}

h2{
	padding-top: 25px;
}

.navbar-nav {
	margin-left: auto;
}

.logo-container {
	width: 40%;
}

/* jumbotron */
.jumbotron{
	background: no-repeat center fixed url("../images/seattle-profile.jpg");
    background-size: 100%;
	background-size: cover;
	height:100%;

}

.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { 
	text-align: center; 
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.main-title { 
	padding-bottom: 20px; 
	border-bottom: 1px solid #FFFFFF; 
	border-bottom-color: rgba(255,255,255,0.35); 
	display: inline-block; 
	font-size: 9vw;
}

.main-subtitle {
	font-size: 4vw;
}

.rb-logo{
	padding:0px;
	width: 2rem;
	height: 2rem;
	margin-bottom: 5px;
}

/* featurette styling */
.featurette-heading{
	font-size: 3rem;
	margin-bottom: 2rem;
}

.featurette-heading--first{
	font-size: 3rem;
	margin-bottom: 2rem;
	padding: 0;
}

.featurette-heading--white {
	font-size: 3rem;
	margin-bottom: 2rem;
	color: white;
}

.lead{
	font-size:x-large;
	padding-bottom: 25px;
}

.featurette{
	padding-left: 15px;
	padding-right:15px;
	text-align: center;
}

.featurette-divider{
	margin-left:15px;
	margin-right:15px;
}

.job-detail{
	padding-bottom: 2rem;
}

/* Company logo boxes configuration */
.company-logo {
    cursor:crosshair; 
    margin-left: auto;
    margin-right: auto;
    background-color: #6681A3;
    background-size: 100%;
    background-position: center center;
	border-radius: 50%;
    overflow: auto;
    color: #fff;
    position: relative;
    width: 75%;
	padding-top: 75%;
}

.more_body{
	text-align: justify;
	color:#FFFFFF;
	max-width: 500px;
	margin-left:auto;
	margin-right:auto;
}

/* Customize titles under logos*/
.work {
	text-align: center;
	display: block;
}

.company-name {
	font-size: 1.5rem;
}

.work-title{
	border-bottom:1px solid #ccc; 
	padding-bottom:5px;
}

.page-section {
	padding-bottom: 2rem;
}


/* Social media icons */
.socialtext div{
	margin-top: 25px;
	display: inline-block;
	margin-left: 15px;
	margin-right:15px;
	cursor:crosshair;
}

/* YouTube iframe */
@media (max-width: 630px) {
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}

	.video-player {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.main-title {
		font-size: 5rem;
	}
	.main-subtitle {
		font-size: 2rem;
	}
	.name-container {
		display: none;
	}
}

