html,body{height:100%;}

h2{
	padding-top: 25px;
}

/* jumbotron */
.jumbotron{
	background: no-repeat center right fixed url("../images/jumbopic.jpg");
	-webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:100%;

}


.jumbotron .container { position: relative; top: 28%; z-index: 4; text-align: center; }
.jumbotron .container > * { text-align: center; color: #FFFFFF; font-size:4vw;}
.jumbotron .container h1 { 
	padding-bottom: 20px; 
	border-bottom: 1px solid #FFFFFF; 
	border-bottom-color: rgba(255,255,255,0.35); 
	display: inline-block; 
	font-size: 9vw;
}


.jumbo_text{
	position:absolute;
	z-index:2;
	top:15%;
	left:5%;
	text-align:center;
}



#jumboimage{
	position:relative;
	width:100%;
	height:auto;
	z-index: 0;
}

.nav-container{
	margin-left:15px;
	margin-right:15px;
	padding:0px;
}

.navbar-header{

}

.rb-logo{
	padding:0px;
}

/* featurette styling */
.featurette-heading{
	font-size:300%;
}


.lead{
	font-size:x-large;
	padding-bottom: 25px;
}

.featurette{
	padding-left: 15px;
	padding-right:15px;
	text-align: center;
}

.featurette-divider{
	margin-left:15px;
	margin-right:15px;
}

.job-detail{
	padding-bottom: 50px;
}

/* Company logo boxes configuration */
h5{
    cursor:crosshair; 
    margin-left: auto;
    margin-right: auto;
    background-color: #A4A2A4;
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: auto;
    color: #fff;
    position: relative;
    padding: 20px 20px;
    min-height: 150px;
    max-width: 500px;
    bottom:0 0 15px 0;
    i{ color: #fff;font-size: 12px; position: absolute; top: 50%; right: 5%; margin-top: -6px;} 
    span{ display: none;}
}

h4{
    cursor:crosshair; 
    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: auto;
    color: #fff;
    position: relative;
    height: 400px;
    width:350px;
    bottom:0 0 15px 0;
    i{ color: #fff;font-size: 12px; position: absolute; top: 50%; right: 5%; margin-top: -6px;} 
    span{ display: none;}
}

.app-details{
	margin-bottom: 35px;
}

.more_body{
	text-align: justify;
	color:black;
	max-width: 500px;
	margin-left:auto;
	margin-right:auto;
}

.icon_head{
	margin-top: 0px;
}

/* Customize titles under logos*/
strong{
	display:block;
	border-bottom:1px solid #ccc; 
	padding-bottom:5px;
}

#links{
	margin-bottom:60px;
}

.thumbnails{
	padding-top:10px;
	padding-right:7px;
}


/* Social media icons */
.socialtext div{
	margin-top: 25px;
	display: inline-block;
	margin-left: 15px;
	margin-right:15px;
}
